
  <div class="row">
    <div style="font-size:20px" class="col-xs-12 offset-3">
      <h2>List of Parties</h2>
      <br>
      BJP&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" (click)="addVote(1)">Add Vote</button><br><br>
      NCP&nbsp;&nbsp;<button class="btn btn-primary" (click)="addVote(2)">Add Vote</button><br><br>
      BSP&nbsp;&nbsp;<button class="btn btn-primary" (click)="addVote(3)">Add Vote</button><br><br>
      AAP&nbsp;&nbsp;<button class="btn btn-primary" (click)="addVote(4)">Add Vote</button>
      <br><br>
    </div>
  </div>
