*{
    background: rgb(75, 45, 8);
    text-align: center;
}

h2{
    color: orange;    
}

.Block{
    
    height:35px;
    width:10px;
    margin:5px 1px 5px;;
    padding: 5px;
    float: left;
    background-color:orangered;
}
